.about{
    margin-top: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.aboutHeading{
    font-style: italic;
    font-weight: 700;
    font-size: 16mm;
    margin:0em 1.5em;
}