*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
 
}



.homePage{
  padding-bottom: 130px;
  background-color: rgba(76, 190, 123, 0.253); 
  /* height: 800px; */ 
  width: 100%;
  
} 

.homePageTop{
  position:absolute;
  background-image: url("./backgroundImg.jpg");
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  margin-top: 0;
  z-index: -1;
  display: table;
}
.Overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.294);
  display: table-cell;
  font-size: 45px;
  font-weight: 600;
  color:#ffff;
  text-align: center;
  vertical-align: middle;
  top: 50%;

}

.homePageMiddle{
  position: relative;
  box-sizing: border-box;
  display: flex; 
  width: 75%;
  
}
.BlogCard{
  display: flex;
  flex-direction: column;
  margin-left: 20%;  
  margin-top: 500px;
}




.editorDiv{
  margin:7em 6em
}
.editorInput{
  height: 2em;
  min-width: 16em;
  font-size: 20px;
  font-weight: bold;
  color: rgb(39, 111, 153);
  border: 2px solid rgb(21, 93, 116);
  border-radius: 6px;
  margin-bottom: 1em;
  padding: 0px 6px;
  
}
.editorTextArea{
  min-height:2.5em;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color:rgb(32, 124, 177);
  border: 2px solid rgb(28, 105, 141);
  border-radius: 6px;
  padding: 0 6px;
  margin-bottom: 1em;
}
.editorQuill{
  border: 2px solid rgb(21, 93, 116);
  border-radius: 6px;
}
.ql-container{
  min-height: 40vh;
}



/* Full Blog Page CSS */

.fullPage{
  margin-top: 6em;
  margin-bottom: 8em;
  display:flex;
  flex-direction: row ;
  width: 100%;
}

.fullPost{
  margin-left: 3em;
  border-right: 1px solid rgb(200, 198, 198);
  border-left: 1px solid rgb(200, 198, 198);
  flex:1.5
}
.fullIntro{
  box-sizing: border-box;
  position:-webkit-sticky;
  position:sticky;
  top:150px;
  height: 100vh;
  margin: 10px;
  padding: 35px;
  flex: 0.5;
}
.fullIntro p{
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color:rgb(70, 161, 184);
}









/* Admin editor CSS */

.displayTitle{
  box-sizing: border-box;
  padding: 3px 6px;
  max-height: 6em;
  font-family: 'Fjalla One', sans-serif;
  font-size: 45px;
  font-weight:600;
  color:rgb(70, 161, 184);
}
.ql-editor{
  font-family: sans-serif;
  font-size: 20px;
 
}
.displayButton{
  margin-left: 5%;
  margin-top: 10px;
}




/* Login Page CSS */


.LoginPageBackground{
  width: 100%;
   height: 120vh;
  background-image: linear-gradient(rgb(221, 105, 125),rgb(34, 150, 228));
  box-sizing: border-box;
  /* padding-left: 25%;
  padding-right: 25%;
  padding-top: 100px;  
  padding-bottom: 100px; */
  overflow: hidden;
} 
.LoginPage{
  margin-top: 25vh;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 30vh;
  display: flex;
  flex-direction: row; 
  background-color: white;
  border-radius: 50px 80px;
  padding: 30px;
}
.LoginPage img{
  flex:1;
  margin-top: 120px;
  
}
.LoginPage1{
  box-sizing: border-box;
  border-radius: 10px;
   flex:1
}

.LoginPage2{
  margin-top: 25px;
  margin-left: 10%;
  margin-right: 10%; 
  display: flex;
  flex-direction: column;
}
.LoginPage2 input{
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 45px;
}
.LoginPage2 label{
  font-family: sans-serif;
  font-size: 20px;
  color:tomato;
}
.LoginInput{
   font-size: 20px;
   outline: none;
   color:rgb(170, 15, 41)
} 



/* SignUp Page CSS */

.signUpBackground{
  height: 150vh;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(#1DC17D,rgb(109, 206, 245));
}

.form{
  margin-top: 25vh;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 30vh;
  background-color: white;
  display: flex;
  padding: 40px;
  border-radius: 20px 70px;
}
.form img{
  flex:1
}
.signUpForm{
 flex: 1;   
}
.heading{
  margin-left: 36%;
  font-size: 50px;
  font-weight: 800;
  color:black
}
.formLayout{
  margin-top: 30px;
  margin-right: 10%;
  display:flex;
  flex-direction: column;
}
.formLayout label{
  font-size: 20px;
  color: rgb(66, 55, 100);
}
.signUpInput{
  border: none;
  border-bottom: 0.5px solid rgb(139, 137, 137);
  font-size:20px ;
  color:rgb(78, 105, 139);
  outline: none;
  margin-bottom: 40px;
}


/* SuccessPage */
.success{
  margin-top: 15vh;
  margin-left: 19%;
  display: flex;
  flex-direction: column;
}