.blogBound1{  
    min-height: 13em;
    width: 35em;
    box-sizing: border-box;
     margin-top: 2em;
     border: 3px solid #46A1B8;
     padding: 2px 10px;
     border-radius: 8px;
    
   
}

.author_avatar{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  height:4em;
}
.author_avatar p {
    margin-bottom: 0;
    margin-left: 6px;
    font-family:sans-serif;
    font-size: 18px;
    color: rgb(109, 169, 204);

}
.blogText{
   box-sizing: border-box;
   min-height: 8.5em;
 
   
}
.blogTitle{
    box-sizing: border-box;
    min-height:2.5em;
    width:32em;
    /* border:.05em solid chartreuse; */
    margin-bottom: 0.25em;
}
.blogTitle :hover{
    color: rgb(70, 161, 184);
}
.blogTitle h3{
    color:rgb(17, 16, 16);
    font-weight: bold;
}
.blogContent{
    box-sizing: border-box;
    min-height: 4.55em;
    width:32em;
    color:rgb(17, 17, 17);
    /* border: .05em solid darkorange; */
}
.reactQuill{
    margin:0;
    padding: 0;
}
.lower-area{
    display: flex;
    margin-top: .5em;
    
    height: 2em;
}
.lower-area1{
     flex: 1;
    width: 50%;
    padding:4px 0px;
}
.logo{
    padding-right: 56px;
}

